.styledLink:link {
  color: blue;
}

.styledLink:visited {
  color: green;
}

.styledLink:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

.styledLink:active {
  background-color: black;
  font-style: italic;
}
