.styledLink:link {
  color: blue;
}

.styledLink:visited {
  color: green;
}

.styledLink:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

.styledLink:active {
  background-color: black;
  font-style: italic;
}

.imgLinks,
.imgText {
  display: flex;
  justify-content: center;
}

.imgText img {
  height: 300px;
  width: 450px;
}

.links {
  height: 500px;
  width: 500px;
  display: flex;
}
