.summary-links li {
  margin-bottom: 5px;
}

.summary {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 50px auto;
  min-height: 100%;
}

.teste {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
